//! **************************************************************************
// Written by: Map P.20131013 on Thu Jul 28 09:27:39 2016
//! **************************************************************************

SCHEMATIC START;
COMP "XLXN_252<0>" LOCATE = SITE "Y26" LEVEL 1;
COMP "XLXN_252<1>" LOCATE = SITE "W25" LEVEL 1;
COMP "XLXN_252<2>" LOCATE = SITE "W26" LEVEL 1;
COMP "XLXN_252<3>" LOCATE = SITE "V24" LEVEL 1;
COMP "XLXN_253<0>" LOCATE = SITE "AD4" LEVEL 1;
COMP "XLXN_252<4>" LOCATE = SITE "V26" LEVEL 1;
COMP "XLXN_261<0>" LOCATE = SITE "N5" LEVEL 1;
COMP "XLXN_253<1>" LOCATE = SITE "AD3" LEVEL 1;
COMP "XLXN_252<5>" LOCATE = SITE "AC14" LEVEL 1;
COMP "XLXN_261<1>" LOCATE = SITE "M4" LEVEL 1;
COMP "XLXN_253<2>" LOCATE = SITE "AD6" LEVEL 1;
COMP "XLXN_252<6>" LOCATE = SITE "AD15" LEVEL 1;
COMP "XLXN_261<2>" LOCATE = SITE "M3" LEVEL 1;
COMP "XLXN_253<3>" LOCATE = SITE "AC5" LEVEL 1;
COMP "XLXN_252<7>" LOCATE = SITE "AC15" LEVEL 1;
COMP "XLXN_261<3>" LOCATE = SITE "L4" LEVEL 1;
COMP "XLXN_262<0>" LOCATE = SITE "F26" LEVEL 1;
COMP "XLXN_253<4>" LOCATE = SITE "AD5" LEVEL 1;
COMP "XLXN_252<8>" LOCATE = SITE "AC16" LEVEL 1;
COMP "XLXN_261<4>" LOCATE = SITE "L3" LEVEL 1;
COMP "XLXN_254<0>" LOCATE = SITE "AC24" LEVEL 1;
COMP "XLXN_262<1>" LOCATE = SITE "G26" LEVEL 1;
COMP "XLXN_253<5>" LOCATE = SITE "AD14" LEVEL 1;
COMP "XLXN_252<9>" LOCATE = SITE "AC19" LEVEL 1;
COMP "XLXN_254<1>" LOCATE = SITE "AD24" LEVEL 1;
COMP "XLXN_262<2>" LOCATE = SITE "G25" LEVEL 1;
COMP "XLXN_253<6>" LOCATE = SITE "AC13" LEVEL 1;
COMP "XLXN_254<2>" LOCATE = SITE "AC26" LEVEL 1;
COMP "XLXN_262<3>" LOCATE = SITE "H26" LEVEL 1;
COMP "XLXN_253<7>" LOCATE = SITE "AB10" LEVEL 1;
COMP "XLXN_254<3>" LOCATE = SITE "AB26" LEVEL 1;
COMP "XLXN_262<4>" LOCATE = SITE "J26" LEVEL 1;
COMP "XLXN_253<8>" LOCATE = SITE "AD10" LEVEL 1;
COMP "XLXN_255<0>" LOCATE = SITE "AF2" LEVEL 1;
COMP "XLXN_254<4>" LOCATE = SITE "Y24" LEVEL 1;
COMP "XLXN_262<5>" LOCATE = SITE "J25" LEVEL 1;
COMP "XLXN_253<9>" LOCATE = SITE "AD9" LEVEL 1;
COMP "XLXN_255<1>" LOCATE = SITE "AE3" LEVEL 1;
COMP "XLXN_254<5>" LOCATE = SITE "AA24" LEVEL 1;
COMP "XLXN_262<6>" LOCATE = SITE "G23" LEVEL 1;
COMP "XLXN_255<2>" LOCATE = SITE "AE4" LEVEL 1;
COMP "XLXN_254<6>" LOCATE = SITE "Y22" LEVEL 1;
COMP "XLXN_262<7>" LOCATE = SITE "J24" LEVEL 1;
COMP "XLXN_255<3>" LOCATE = SITE "AF4" LEVEL 1;
COMP "XLXN_254<7>" LOCATE = SITE "AB24" LEVEL 1;
COMP "XLXN_262<8>" LOCATE = SITE "L24" LEVEL 1;
COMP "XLXN_255<4>" LOCATE = SITE "AE5" LEVEL 1;
COMP "XLXN_254<8>" LOCATE = SITE "AD19" LEVEL 1;
COMP "XLXN_262<9>" LOCATE = SITE "K24" LEVEL 1;
COMP "XLXN_255<5>" LOCATE = SITE "AF5" LEVEL 1;
COMP "XLXN_254<9>" LOCATE = SITE "AB18" LEVEL 1;
COMP "XLXN_255<6>" LOCATE = SITE "AF6" LEVEL 1;
COMP "XLXN_255<7>" LOCATE = SITE "AE7" LEVEL 1;
COMP "XLXN_255<8>" LOCATE = SITE "AE13" LEVEL 1;
COMP "XLXN_255<9>" LOCATE = SITE "AF13" LEVEL 1;
COMP "XLXN_250" LOCATE = SITE "AC4" LEVEL 1;
COMP "XLXN_243" LOCATE = SITE "P24" LEVEL 1;
COMP "XLXN_244" LOCATE = SITE "R26" LEVEL 1;
COMP "XLXN_245" LOCATE = SITE "AA26" LEVEL 1;
COMP "XLXN_246" LOCATE = SITE "AD17" LEVEL 1;
COMP "XLXN_247" LOCATE = SITE "AA25" LEVEL 1;
COMP "XLXN_256" LOCATE = SITE "Y5" LEVEL 1;
COMP "XLXN_248" LOCATE = SITE "AC3" LEVEL 1;
COMP "XLXN_249" LOCATE = SITE "AB9" LEVEL 1;
COMP "XLXN_257" LOCATE = SITE "T1" LEVEL 1;
COMP "XLXN_252<10>" LOCATE = SITE "AD20" LEVEL 1;
COMP "XLXN_252<11>" LOCATE = SITE "AC20" LEVEL 1;
COMP "XLXN_252<12>" LOCATE = SITE "AD21" LEVEL 1;
COMP "XLXN_252<13>" LOCATE = SITE "AB22" LEVEL 1;
COMP "XLXN_252<14>" LOCATE = SITE "AD22" LEVEL 1;
COMP "XLXN_252<15>" LOCATE = SITE "AA23" LEVEL 1;
COMP "XLXN_252<16>" LOCATE = SITE "AC23" LEVEL 1;
COMP "XLXN_252<17>" LOCATE = SITE "V23" LEVEL 1;
COMP "XLXN_253<10>" LOCATE = SITE "AC9" LEVEL 1;
COMP "XLXN_252<18>" LOCATE = SITE "W22" LEVEL 1;
COMP "XLXN_253<11>" LOCATE = SITE "AD8" LEVEL 1;
COMP "XLXN_252<19>" LOCATE = SITE "W24" LEVEL 1;
COMP "XLXN_253<12>" LOCATE = SITE "AB8" LEVEL 1;
COMP "XLXN_253<13>" LOCATE = SITE "AD7" LEVEL 1;
COMP "XLXN_253<14>" LOCATE = SITE "AC7" LEVEL 1;
COMP "XLXN_253<15>" LOCATE = SITE "AA4" LEVEL 1;
COMP "XLXN_253<16>" LOCATE = SITE "AB3" LEVEL 1;
COMP "XLXN_253<17>" LOCATE = SITE "AB4" LEVEL 1;
COMP "XLXN_262<10>" LOCATE = SITE "M23" LEVEL 1;
COMP "XLXN_253<18>" LOCATE = SITE "AB5" LEVEL 1;
COMP "XLXN_254<10>" LOCATE = SITE "AD18" LEVEL 1;
COMP "XLXN_262<11>" LOCATE = SITE "K26" LEVEL 1;
COMP "XLXN_253<19>" LOCATE = SITE "AB6" LEVEL 1;
COMP "XLXN_254<11>" LOCATE = SITE "AC17" LEVEL 1;
COMP "XLXN_262<12>" LOCATE = SITE "L26" LEVEL 1;
COMP "XLXN_254<12>" LOCATE = SITE "AB17" LEVEL 1;
COMP "XLXN_254<20>" LOCATE = SITE "AE25" LEVEL 1;
COMP "XLXN_262<13>" LOCATE = SITE "L25" LEVEL 1;
COMP "XLXN_254<13>" LOCATE = SITE "AF21" LEVEL 1;
COMP "XLXN_254<21>" LOCATE = SITE "AE26" LEVEL 1;
COMP "XLXN_262<14>" LOCATE = SITE "M26" LEVEL 1;
COMP "XLXN_254<14>" LOCATE = SITE "AE21" LEVEL 1;
COMP "XLXN_254<22>" LOCATE = SITE "AD26" LEVEL 1;
COMP "XLXN_254<30>" LOCATE = SITE "AF15" LEVEL 1;
COMP "XLXN_262<15>" LOCATE = SITE "N26" LEVEL 1;
COMP "XLXN_254<15>" LOCATE = SITE "AF20" LEVEL 1;
COMP "XLXN_254<23>" LOCATE = SITE "AC25" LEVEL 1;
COMP "XLXN_254<31>" LOCATE = SITE "AE15" LEVEL 1;
COMP "XLXN_254<16>" LOCATE = SITE "AE23" LEVEL 1;
COMP "XLXN_254<24>" LOCATE = SITE "AF19" LEVEL 1;
COMP "XLXN_254<17>" LOCATE = SITE "AF24" LEVEL 1;
COMP "XLXN_254<25>" LOCATE = SITE "AE19" LEVEL 1;
COMP "XLXN_255<10>" LOCATE = SITE "AD11" LEVEL 1;
COMP "XLXN_254<18>" LOCATE = SITE "AE24" LEVEL 1;
COMP "XLXN_254<26>" LOCATE = SITE "AF18" LEVEL 1;
COMP "XLXN_255<11>" LOCATE = SITE "AC11" LEVEL 1;
COMP "XLXN_254<19>" LOCATE = SITE "AF25" LEVEL 1;
COMP "XLXN_254<27>" LOCATE = SITE "AF17" LEVEL 1;
COMP "XLXN_255<12>" LOCATE = SITE "AD12" LEVEL 1;
COMP "XLXN_255<20>" LOCATE = SITE "AC2" LEVEL 1;
COMP "XLXN_254<28>" LOCATE = SITE "AE17" LEVEL 1;
COMP "XLXN_255<13>" LOCATE = SITE "AC12" LEVEL 1;
COMP "XLXN_255<21>" LOCATE = SITE "AB1" LEVEL 1;
COMP "XLXN_254<29>" LOCATE = SITE "AF16" LEVEL 1;
COMP "XLXN_255<14>" LOCATE = SITE "AD13" LEVEL 1;
COMP "XLXN_255<22>" LOCATE = SITE "AA2" LEVEL 1;
COMP "XLXN_255<30>" LOCATE = SITE "AF11" LEVEL 1;
COMP "XLXN_255<15>" LOCATE = SITE "AF14" LEVEL 1;
COMP "XLXN_255<23>" LOCATE = SITE "AA1" LEVEL 1;
COMP "XLXN_255<31>" LOCATE = SITE "AF12" LEVEL 1;
COMP "XLXN_255<16>" LOCATE = SITE "AE2" LEVEL 1;
COMP "XLXN_255<24>" LOCATE = SITE "AF7" LEVEL 1;
COMP "XLXN_255<17>" LOCATE = SITE "AE1" LEVEL 1;
COMP "XLXN_255<25>" LOCATE = SITE "AF8" LEVEL 1;
COMP "XLXN_255<18>" LOCATE = SITE "AD1" LEVEL 1;
COMP "XLXN_255<26>" LOCATE = SITE "AE9" LEVEL 1;
COMP "XLXN_255<19>" LOCATE = SITE "AC1" LEVEL 1;
COMP "XLXN_255<27>" LOCATE = SITE "AF9" LEVEL 1;
COMP "XLXN_255<28>" LOCATE = SITE "AF10" LEVEL 1;
COMP "XLXN_255<29>" LOCATE = SITE "AE11" LEVEL 1;
COMP "clk_i" LOCATE = SITE "U26" LEVEL 1;
SCHEMATIC END;

