

NET "clk_i" LOC = U26;
NET "XLXN_257" LOC = T1;
NET "XLXN_256" LOC = Y5;
NET "XLXN_243" LOC = P24;
NET "XLXN_244" LOC = R26;
NET "XLXN_245" LOC = AA26;
NET "XLXN_246" LOC = AD17;
NET "XLXN_247" LOC = AA25;
NET "XLXN_248" LOC = AC3;
NET "XLXN_249" LOC = AB9;
NET "XLXN_250" LOC = AC4;
NET "XLXN_252[19]" LOC = W24;
NET "XLXN_252[17]" LOC = V23;
NET "XLXN_252[16]" LOC = AC23;
NET "XLXN_252[15]" LOC = AA23;
NET "XLXN_252[18]" LOC = W22;
NET "XLXN_252[14]" LOC = AD22;
NET "XLXN_252[13]" LOC = AB22;
NET "XLXN_252[12]" LOC = AD21;
NET "XLXN_252[11]" LOC = AC20;
NET "XLXN_252[10]" LOC = AD20;
NET "XLXN_252[9]" LOC = AC19;
NET "XLXN_252[8]" LOC = AC16;
NET "XLXN_252[7]" LOC = AC15;
NET "XLXN_252[6]" LOC = AD15;
NET "XLXN_252[5]" LOC = AC14;
NET "XLXN_252[4]" LOC = V26;
NET "XLXN_252[3]" LOC = V24;
NET "XLXN_252[2]" LOC = W26;
NET "XLXN_252[1]" LOC = W25;
NET "XLXN_252[0]" LOC = Y26;
NET "XLXN_253[19]" LOC = AB6;
NET "XLXN_253[18]" LOC = AB5;
NET "XLXN_253[17]" LOC = AB4;
NET "XLXN_253[16]" LOC = AB3;
NET "XLXN_253[15]" LOC = AA4;
NET "XLXN_253[14]" LOC = AC7;
NET "XLXN_253[13]" LOC = AD7;
NET "XLXN_253[12]" LOC = AB8;
NET "XLXN_253[11]" LOC = AD8;
NET "XLXN_253[10]" LOC = AC9;
NET "XLXN_253[9]" LOC = AD9;
NET "XLXN_253[8]" LOC = AD10;
NET "XLXN_253[7]" LOC = AB10;
NET "XLXN_253[6]" LOC = AC13;
NET "XLXN_253[5]" LOC = AD14;
NET "XLXN_253[4]" LOC = AD5;
NET "XLXN_253[3]" LOC = AC5;
NET "XLXN_253[2]" LOC = AD6;
NET "XLXN_253[1]" LOC = AD3;
NET "XLXN_253[0]" LOC = AD4;
NET "XLXN_254[31]" LOC = AE15;
NET "XLXN_254[30]" LOC = AF15;
NET "XLXN_254[29]" LOC = AF16;
NET "XLXN_254[28]" LOC = AE17;
NET "XLXN_254[27]" LOC = AF17;
NET "XLXN_254[26]" LOC = AF18;
NET "XLXN_254[25]" LOC = AE19;
NET "XLXN_254[24]" LOC = AF19;
NET "XLXN_254[23]" LOC = AC25;
NET "XLXN_254[22]" LOC = AD26;
NET "XLXN_254[21]" LOC = AE26;
NET "XLXN_254[20]" LOC = AE25;
NET "XLXN_254[19]" LOC = AF25;
NET "XLXN_254[18]" LOC = AE24;
NET "XLXN_254[17]" LOC = AF24;
NET "XLXN_254[16]" LOC = AE23;
NET "XLXN_254[15]" LOC = AF20;
NET "XLXN_254[14]" LOC = AE21;
NET "XLXN_254[13]" LOC = AF21;
NET "XLXN_254[12]" LOC = AB17;
NET "XLXN_254[11]" LOC = AC17;
NET "XLXN_254[10]" LOC = AD18;
NET "XLXN_254[9]" LOC = AB18;
NET "XLXN_254[8]" LOC = AD19;
NET "XLXN_254[7]" LOC = AB24;
NET "XLXN_254[6]" LOC = Y22;
NET "XLXN_254[5]" LOC = AA24;
NET "XLXN_254[4]" LOC = Y24;
NET "XLXN_254[3]" LOC = AB26;
NET "XLXN_254[2]" LOC = AC26;
NET "XLXN_254[1]" LOC = AD24;
NET "XLXN_254[0]" LOC = AC24;
NET "XLXN_255[31]" LOC = AF12;
NET "XLXN_255[30]" LOC = AF11;
NET "XLXN_255[29]" LOC = AE11;
NET "XLXN_255[28]" LOC = AF10;
NET "XLXN_255[27]" LOC = AF9;
NET "XLXN_255[26]" LOC = AE9;
NET "XLXN_255[25]" LOC = AF8;
NET "XLXN_255[24]" LOC = AF7;
NET "XLXN_255[23]" LOC = AA1;
NET "XLXN_255[22]" LOC = AA2;
NET "XLXN_255[21]" LOC = AB1;
NET "XLXN_255[20]" LOC = AC2;
NET "XLXN_255[19]" LOC = AC1;
NET "XLXN_255[18]" LOC = AD1;
NET "XLXN_255[17]" LOC = AE1;
NET "XLXN_255[16]" LOC = AE2;
NET "XLXN_255[15]" LOC = AF14;
NET "XLXN_255[14]" LOC = AD13;
NET "XLXN_255[13]" LOC = AC12;
NET "XLXN_255[12]" LOC = AD12;
NET "XLXN_255[11]" LOC = AC11;
NET "XLXN_255[10]" LOC = AD11;
NET "XLXN_255[9]" LOC = AF13;
NET "XLXN_255[8]" LOC = AE13;
NET "XLXN_255[7]" LOC = AE7;
NET "XLXN_255[6]" LOC = AF6;
NET "XLXN_255[5]" LOC = AF5;
NET "XLXN_255[4]" LOC = AE5;
NET "XLXN_255[3]" LOC = AF4;
NET "XLXN_255[2]" LOC = AE4;
NET "XLXN_255[1]" LOC = AE3;
NET "XLXN_255[0]" LOC = AF2;

# PlanAhead Generated physical constraints 

NET "XLXN_261[4]" LOC = L3;
NET "XLXN_261[3]" LOC = L4;
NET "XLXN_261[2]" LOC = M3;
NET "XLXN_261[1]" LOC = M4;
NET "XLXN_261[0]" LOC = N5;
NET "XLXN_262[15]" LOC = N26;
NET "XLXN_262[14]" LOC = M26;
NET "XLXN_262[13]" LOC = L25;
NET "XLXN_262[12]" LOC = L26;
NET "XLXN_262[11]" LOC = K26;
NET "XLXN_262[10]" LOC = M23;
NET "XLXN_262[9]" LOC = K24;
NET "XLXN_262[8]" LOC = L24;
NET "XLXN_262[7]" LOC = J24;
NET "XLXN_262[6]" LOC = G23;
NET "XLXN_262[5]" LOC = J25;
NET "XLXN_262[4]" LOC = J26;
NET "XLXN_262[3]" LOC = H26;
NET "XLXN_262[2]" LOC = G25;
NET "XLXN_262[1]" LOC = G26;
NET "XLXN_262[0]" LOC = F26;
